{% extends 'base.html' %}

{% load static %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
<div class="left-ads-display col-lg-9">
    <div class="row">
        <div class="desc1-left col-md-3">
            <img src="{{ object.poster.url }}" class="img-fluid" alt="{{ object.title }}">
        </div>
        <div class="desc1-right col-md-9 pl-lg-4">
            <h3 style="outline: none; cursor: inherit;">
                {{ object.title }}</h3>
            <ul>
                <li style="list-style: none"><span><b>Год:</b> {{ object.year }}</span></li>
                <li style="list-style: none"><span><b>Страна:</b> {{ object.country }}</span>
                </li>
                <li style="list-style: none"><span><b>Слоган:</b> «{{ object.tagline }}»</span>
                </li>
                <li style="list-style: none">
                                    <span><b>Режиссер:</b>
                                    {% for producer in object.producers.all %}
                                        {{ producer.name }}
                                    {% endfor %}
                                    </span>
                </li>
                <li style="list-style: none">
                                    <span><b>Актеры:</b>
                                    {% for actor in object.actors.all %}
                                        {{ actor.name }}
                                    {% endfor %}
                                    </span>
                </li>
                <li style="list-style: none">
                                    <span><b>Жанр:</b>
                                    {% for genre in object.genres.all %}
                                        {{ genre.name }}
                                    {% endfor %}
                                    </span>
                </li>
                <li style="list-style: none">
                    <span><b>Премьера в мире:</b> {{ object.world_premiere }}</span>
                </li>
                <li style="list-style: none">
                    <span><b>Бюджет:</b> ${{ object.budget }}</span></li>
                <li style="list-style: none">
                    <span><b>Сборы в США:</b> ${{ object.fees_in_usa }}</span></li>
                <li style="list-style: none">
                    <span><b>Сборы в мире:</b> ${{ object.fees_in_world }}</span>
                </li>
                <li style="list-style: none">
                    <a href="#"><b>Рейтинг:</b>
                        <span class="fa fa-star" aria-hidden="true"></span>
                        <span class="fa fa-star" aria-hidden="true"></span>
                        <span class="fa fa-star" aria-hidden="true"></span>
                        <span class="fa fa-star" aria-hidden="true"></span>
                        <span class="fa fa-star" aria-hidden="true"></span>
                        <span>5.0</span>
                    </a>
                </li>
            </ul>
            <div class="share-desc">
                <div class="share">
                    <h4 style="outline: none; cursor: inherit;">
                        Share:</h4>
                    <ul class="w3layouts_social_list list-unstyled">
                        <li>
                            <a href="#" class="w3pvt_facebook"
                               style="outline: none; cursor: inherit;">
                                <span class="fa fa-facebook-f" style="outline: none; cursor: inherit;"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="w3pvt_twitter" style="outline: none; cursor: inherit;">
                                <span class="fa fa-twitter" style="outline: none; cursor: inherit;"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="w3pvt_dribble" style="outline: none; cursor: inherit;">
                                <span class="fa fa-dribbble" style="outline: none; cursor: inherit;"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="row sub-para-w3layouts mt-5">
        <h3 class="shop-sing" style="outline: none; cursor: inherit;">
            О фильме {{ object.title }}</h3>
        <p>
            {% for image in object.movieshots_set.all %}
            <img src="{{ image.image.url }}" class="img-fluid" alt="{{ image.description }}">
            {% endfor %}
        </p>
        <p style="outline: none; cursor: inherit;">
            {{ object.description }}
        </p>
    </div>
    <hr>
    <div class="row">
        <div class="single-form-left">
            <div class="contact-single">
                <h3>
                    <span class="sub-tittle">02</span>Оставить отзыв
                </h3>
                {% include './review_form.html' %}
            </div>
        </div>
        {% for review in object.reviews_set.all %}
        <div class="media py-5">
            <img src="{% static 'images/te2.jpg' %}" class="mr-3 img-fluid" alt="image">
            <div class="media-body mt-4">
                <h5 class="mt-0">{{ review.name }}</h5>
                <p class="mt-2">{{ review.text }}</p>
                <a href="#fromReview" onclick="addReview('{{ review.name }}', '{{ review.id }}')">Replay</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    function addReview(name, id) {
        document.getElementById("parent").value = id;
        document.getElementById("contactcomment").innerText = `${name}, `;
    }
</script>
{% endblock %}
