<!DOCTYPE html>
<html lang="en">
<head>
    <title>Clack Website Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900"
          rel="stylesheet">
</head>
<body>
<div id="page" class="page">
    {% include 'inc/_header.html' %}
    <section class="ab-info-main py-md-5 py-4 editContent" style="padding-left: 3rem; padding-right: 3rem;">
        <div class="container-fluid py-md-3">
            <div class="row">
                {% include 'inc/_sidebar.html' %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </section>
    {% include 'inc/_footer.html' %}
</div>
</body>
</html>